.container {
   
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    max-width: 600px;
    background: #fff;
    padding-bottom: 30px;
    box-shadow: 10px 10px 5px #0000007c;
    padding: 20px;

}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.text {
    color: #040108d0;
    font-size: 48px;
    font-weight: 700;
}

.underline {
    width: 61px;
    height: 6px;
    background: #040108d0;
    border-radius: 9px;
}

.inputs {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
    margin-bottom: 10px;
   transition: 1s ease-in-out;

}
.input:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 5px #aaaaaa;

}

.input img {
    margin: 0px 30px;

}

.input input {
    flex: 1;
    height: 50px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.submit-container {
    display: flex;

    gap: 30px;
    margin: 60px auto;
    max-width: 100%;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    max-width: 400px;
    height: 80px;
    color: #393838;
    background: #040108d0;
   border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    &:active {
        transform: scale(0.95);
    }
    &:focus {
        outline: none;
    }
}

.gray {
    background: #eaeaea;
    color: 67676;
    transition: background 0.3s ease, color 0.3s ease;
}
.gray:hover {
    background: #090606; /* Change background color on hover */
    color: white;
  }
  .rd{
   display: flex;
   justify-content: center;
   padding-top: 20px;
  }
.privacy{
    margin-top: -43px;

}
.terms{
    font-size: larger;
}

@media (min-width:420px) {
  .privacy{  margin-left: 45px;
    
}}


@media (max-width:420px) {
    .privacy{margin-left: 25px;


  }.text{
    font-size: 25px;
}
.underline {
    width: 40px;
    height: 6px;
    background: #040108d0;
    border-radius: 9px;
}
::placeholder{
    font-size: 15px;
}
.input img{
    width: 20px;
}
.submit{
    font-size: 15px;
}
.terms{
    font-size: large;
}

}
  
  
  